.navibar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0em;
  top: 0em;
  align-items: center;
}

#home-nav {
  height: 5.875em;
  background: #1b425f;
}

#blog-bg {
  background-color: white;
}

#blog-nav {
  height: 6em;
  background: #c3d8d9;
}

.left {
  margin-left: 5%;
}

.right {
  margin-right: 5%;
}

.blog-title {
  font-family: "Beau Rivage", cursive;
  font-size: 4.5em;
  text-align: center;
  color: #000000;
  background: #c3d8d9;
  height: 80px;
}

.blog-content {
  font-family: "Beau Rivage", cursive;
  font-size: 1em;
  color: #000000;
  margin: auto;
  height: 550px;
  width: 96%;
  background: #d9d9d9;
  border: #d9d9d9;
}

#done {
  height: 3em;
}
.icons {
  height: 3em;
  width: 3em;
}

.left-panel {
  position: absolute;
  width: 75px;
  height: 100%;
  left: 0px;
  top: 5.875em;
  background: #60769d;
  flex-direction: column;
}
#panel {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: white;
  margin: 0.5em 2.5em 2.5em 0.5em;
}

.grie-container {
  width: 93%;
  height: 670px;
  margin-top: 7em;
  margin-left: 5.875em;
  background: #d9d9d9;
}

.title {
  padding-left: 1em;
  padding-right: 0.5em;
  font-family: "Beau Rivage", cursive;
  font-size: 5em;
  color: #000000;
  text-align: left;
}
.content {
  font-family: "Beau Rivage", cursive;
  font-size: 2em;
  color: #000000;
  text-align: left;
}
.grie-content {
  font-family: "Beau Rivage", cursive;
  font-size: 2em;
  color: #000000;
  width: 95%;
  height: 525px;
  background: #98babb;
  overflow-y: scroll;
}

#flex-row {
  display: flex;
}
.select-down {
  margin-top: 2em;
  width: 80%;
  height: 30px;
  background: #60769d;
}
.panel-icons {
  height: 2.5em;
  width: 2.5em;
  margin-left: 0.25em;
}

#clip-orient {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 3em;
}

.welcome {
  width: 1050px;
  height: 500px;
  margin-top: 170px;
  margin-bottom: 50px;
}

.centre {
  text-align: center;
  margin-top: 5.9em;
  margin-left: 4.75em;
  height: 625px;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.society-pics {
  width: 1450px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

#home-slide {
  width: 100%;
  text-align: center;
  margin-bottom: 10em;
}

.left-rec {
  width: 70px;
  height: 400px;
  background: #d9d9d9;
  border-radius: 40px 0px 0px 40px;
  margin-top: 40px;
  margin-left: 5%;
}
.right-rec {
  width: 70px;
  height: 400px;
  background: #d9d9d9;
  border-radius: 0px 40px 40px 0px;
  margin-top: 40px;
  margin-right: 5%;
}

.pics {
  width: 87%;
  height: 550px;
  background: #d9d9d9;
  border-radius: 40px;
}
#pic-size {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 560px;
}
#left_pic {
  margin-top: 170px;
}
#right_pic {
  margin-top: 170px;
}

.carousel_container_home {
  margin-left: 75px;
}

#align {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}
#align_center {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}
.bottom {
  margin-top: 140px;
}

.side-content {
  margin-left: 5%;
  width: 90%;
  display: flex;
}

#side_box {
  width: 400px;
  height: 300px;
  background-color: #8ca1ae;
}
#small-icon {
  height: 2em;
  width: 2em;
  margin: auto;
}
.map-icons {
  height: 6em;
  width: 6em;
  margin-left: 5%;
  margin-top: 30px;
}

#bg-linear-blue {
  background: linear-gradient(180deg, #207476 0%, #98babb 100%);
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 1460px;
  height: 700px;
}

#card-color {
  background-color: #98babb;
}
.up-pic {
  margin-right: 1%;
  margin-top: 5px;
}
.down-pic {
  margin-right: 1%;
  margin-bottom: 5px;
}
.left-centre {
  text-align: center;
  margin-top: 5.875em;
  height: 690px;
  flex-direction: column;
}
#left-authority-card {
  width: 80%;
  height: 350px;
  margin-top: 20px;
  background: #d9d9d9;
  margin-left: 3%;
  text-align: left;
  border-radius: 0px 70px;
  display: flex;
}
#right-authority-card {
  width: 80%;
  height: 350px;
  background: #d9d9d9;
  margin-top: 20px;
  text-align: right;
  margin-left: 18%;
  display: flex;
  border-radius: 70px 0px;
}
.person {
  flex-direction: column;
  margin: auto 4em auto 4em;
}

.circle {
  height: 12em;
  width: 12em;
  border-radius: 10%;
  background-color: #98babb;
}

.nav-links {
  margin-right: 2em;
  flex-direction: row;
  font-family: "Kelly Slab", cursive;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 2.25em;
  color: white;
}

.navheading {
  padding-left: 1em;
  padding-right: 4em;
  left: 0em;
  font-family: "Lovers Quarrel", cursive;
  font-weight: 400;
  color: white;
  line-height: 3em;
  font-size: 5.5em;
}

.home {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#home-bg {
  background-color: #f6beb4;
}

.nav-scroll {
  height: 39em;
  width: 100%;
  margin-top: 5.875em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-top: 7em;
  margin-right: auto;
  width: 40%;
}

hr {
  border: dotted #6e0851 6px;
  border-bottom: none;
  width: 7%;
  margin: 100px auto;
}

#card {
  width: 70%;
  height: 300px;
  margin-top: 20px;
  border-radius: 0px 70px;
  flex-direction: column;
  margin-bottom: 20px;
}

.orange-card {
  margin-left: 3%;
  text-align: left;
  background: linear-gradient(
    180deg,
    rgba(255, 147, 108, 0.57) 0%,
    rgba(255, 209, 64, 0.57) 100%
  );
}

.pink-card {
  text-align: right;
  margin-left: 28%;
  background: linear-gradient(
    180deg,
    rgba(252, 132, 169, 0.65) -4.48%,
    rgba(109, 222, 237, 0.32) 95.41%
  );
}

.card-fill {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 39px;
  color: #000000;
  margin: 10px;
}

#card-title {
  font-family: "Caramel", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

.card-orange-title {
  text-align: right;
  margin-right: 40px;
}

.card-pink-title {
  text-align: left;
  margin-left: 40px;
}

.lower {
  width: 100%;
  height: 8em;
}

.login-card {
  background: linear-gradient(180deg, #ffd13f 0%, #fd936c 100%);
  border-radius: 50px;
  position: absolute;
  width: 30%;
  height: 80%;
  margin-left: 35%;
  margin-top: 5%;
  flex-direction: column;
  text-align: center;
}
.log_head {
  margin-top: 10%;
  font-family: "Cabin Sketch";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 110px;
  text-align: center;
  color: #1b3661;
}
#space {
  margin-top: 10%;
  color: #ffffff;
  text-align: left;
}
.input {
  width: 400px;
  height: 30px;
  top: 556px;
  margin-left: 10%;
  background: rgba(217, 217, 217, 0.48);
  border-color: rgba(217, 217, 217, 0.48);
}
.log_button {
  width: 120px;
  height: 53px;
  background: conic-gradient(
    from 212.04deg at 55.63% 32.54%,
    #1b425f 0deg,
    rgba(27, 54, 97, 0.54) 90deg,
    rgba(27, 54, 97, 0.66) 180deg,
    #1b3661 270deg,
    rgba(0, 0, 0, 0.48) 360deg
  );
  border-radius: 40px;
  border-width: 0;
  margin-left: 40%;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 39px;
  color: white;
  margin-top: 60px;
}

#guide-bg {
  background: linear-gradient(180deg, #d9ed92 0%, #a8e6cf 100%);
}

#guide-card-bg {
  background-color: #7fa395;
}

.event_view_image {
  margin: 3em 7%;
  width: 1300px;
  height: 500px;
  background: #d9d9d9;
  border-radius: 40px;
}

.side_icons {
  width: 2em;
  height: 2em;
  margin-left: 3em;
  margin-top: 2.5em;
}

.whenhere {
  background-color: #f6d7ca;
  margin-left: 18%;
  width: 10em;
  height: 7em;
  border-radius: 1em;
  padding: 3%;
  font-size: 1.5em;
  text-align: center;
}

.event_viewer {
  background-color: #d9d9d9;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
  height: 770px;
}

#event_left_pic {
  position: absolute;
  left: 6%;
  top: 4%;
}

#event_right_pic {
  position: absolute;
  right: 6%;
  top: 4%;
}

#event_left_arrow {
  position: absolute;
  left: 1.5%;
  top: 46%;
}

#event_right_arrow {
  position: absolute;
  right: 1.5%;
  top: 46%;
}
.comment {
  position: absolute;
  height: 2em;
  background: rgba(192, 216, 223, 0.54);
  border-radius: 30px;
  width: 19%;
}
.comment_box {
  width: 85%;
  background: rgba(192, 216, 223, 0.54);
  border-color: rgba(192, 216, 223, 0.54);
}

#blog_nav_bg {
  background: url("https://images.unsplash.com/photo-1579546928686-286c9fbde1ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fGJsdWUlMjBncmVlbiUyMGdyYWRpZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
    no-repeat;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog_head {
  padding-left: 1em;
  padding-right: 0.5em;
  font-size: 4em;
  color: #000000;
  font-family: "Lovers Quarrel", cursive;
  font-weight: 400;
  text-align: center;
}
.book {
  color: green;
}
.like {
  color: rgb(224, 44, 44);
}
.blog-scroll {
  text-align: center;
  overflow-y: scroll;
  margin-top: 2em;
  height: 88%;
  font-family: "Beau Rivage", cursive;
  font-size: 3em;
  color: #000000;
  background: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGJhY2slMjBncm91bmQlMjBuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60")
    no-repeat;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog_quote {
  text-align: center;
  width: 50%;
  height: 30%;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 9em;
  top: 5em;
}
.quote-container {
  position: relative;
}

.carousel_blog {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}
.blog_text {
  font-size: 40px;
  padding: 50px;
  text-align: center;
}
.blog_img_div {
  height: 600px;
  width: 100em;
  opacity: 1;
}
.blog_img {
  object-fit: cover;
  opacity: 1;
}
.blog_summary {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  font-weight: 10em;
  font-size: 35px;
  width: 96%;
  font-family: "Beau Rivage", cursive;
}
#event_container {
  padding: 30px;
}

.event {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.25fr));
  gap: 40px;
}

.blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#event-post {
  background-color: transparent;
  padding: 0px;
  height: 12em;
  width: 11em;
}

.blog-post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.blog-post h2 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  color: #333;
}

.videonav {
  width: 100%;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  margin: 0;
}
.imgnav {
  width: 100%;
  height: 14em;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.vid_nav_flex {
  position: absolute;
  display: flex;
  color: white;
  top: 2em;
  right: 3em;
  width: 25em;
  justify-content: space-between;
}
.heading_prime {
  font-size: 10em;
  font-family: "Lovers Quarrel", cursive;
  font-weight: 400;
  position: absolute;
  align-items: center;
  color: white;
}

.event-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("https://images.unsplash.com/photo-1563291074-2bf8677ac0e5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=407&q=80");
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

#right-panel {
  position: absolute;
  height: 97%;
  width: 14%;
  right: 1em;
  /* background:url("https://images.unsplash.com/photo-1521133573892-e44906baee46?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjV8fHRyYW5zcGFyZW50JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"); */
  background: url("https://images.unsplash.com/photo-1579546928686-286c9fbde1ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fGJsdWUlMjBncmVlbiUyMGdyYWRpZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
    no-repeat;

  top: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em;
  padding: 1em;
}
.left-event-component {
  position: absolute;
  height: 87%;
  width: 83%;
  left: 1em;
  background-color: transparent;
  overflow-y: scroll;
  margin-top: 1em;
  top: 6em;
}
.left-event-component::-webkit-scrollbar {
  display: none;
}
#event-filters {
  height: 3em;
  border-radius: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.element-with-video-bg {
  background-color: transparent;
  position: absolute;
  top: 7em;
  left: 0;
  height: 86%;
  width: 79%;
  z-index: 1;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.element-with-video-bg::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#payment {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#payment td,
#payment th {
  border: 1px solid #ddd;
  padding: 8px;
}

#payment tr:nth-child(even) {
  background-color: #f2f2f2;
}

#payment tr:hover {
  background-color: #ddd;
}

#payment th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1b425f;
  color: white;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin: 5px;
  animation: dot-pulse 1s infinite ease-in-out;
}

@keyframes dot-pulse {
  0% {
    transform: scale(1);
    background-color: #000;
  }
  50% {
    transform: scale(1.5);
    background-color: #555;
  }
  100% {
    transform: scale(1);
    background-color: #000;
  }
}

#voting-cards {
  width: 200px;
  height: 250px;
  margin-left: 1em;
  margin-right: 1em;
  background: #d9d9d9;
  border-radius: 30px;
}

#green-button {
  background-color: #98babb;
  border-radius: 0.5em;
  width: 90%;
  height: 2em;
  top: 900em;
}
.custom-link {
  color: black;
  text-decoration: none;
}
.elect-panel {
  background: #d9d9d9;
  position: absolute;
  height: 100%;
  width: 17%;
  top: 5.875em;
}
.elect-panel-button {
  background-color: #9facba;
  border-radius: 0.5em;
  width: 90%;
  height: 3em;
  margin: 3%;
  border: none;
  margin-left: 5px;
}
.elect-panel-button.selected {
  background-color: #b39cdb;
}
/* .campaign-card-left {
  width: auto;
  height: 200px;
  margin: 1%;
  background: #9FACBA;
  border-radius: 50px 0px 0px 50px;
}
.campaign-card-right {
  width: auto;
  height: 200px;
  margin: 1%;
  background: #98babb;
  border-radius: 0px 50px 50px 0px;
} */
#campaign-blue {
  margin: 2%;
  background-color: #98babb;
  width: auto;
}
#campaign-green {
  margin: 2%;
  background-color: #9facba;
  width: auto;
}
.blue-button {
  width: 95%;
  height: 40px;
  background: #1b3661;
  border-radius: 10px;
  margin: 2%;
  color: white;
}
.result-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("https://images.unsplash.com/photo-1543286386-2e659306cd6c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cmVzdWx0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}


.bar-group .name-label {
  text-anchor: end;
  font-weight: 300;
  font-size: 1em;
  fill: #333;
}

.bar-group .value-label {
  text-anchor: end;
  fill: #fff;
  font-weight: 900;
  font-size: 0.7em;
}

.container .bar-group {
  transition: opacity 0.3s;
}

/* Fade bars when the chart is hovered */
.container:hover .bar-group {
  opacity: 0.3;
}

/* But don't fade the hovered bar... */
.container .bar-group:hover {
  opacity: 1;
}

.container .bar-group:hover .name-label {
  font-weight: 400;
}

.container .bar-group:hover .value-label {
  font-size: 0.8em;
}